body {
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    padding: 15px;
}

#nav {
    display: flex;
    justify-content: space-between;
    padding: 2px;

}

#container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-content: space-around;
   padding-top: 10px;
   margin-top: 10px;
}

#answers {
    list-style: none;
    margin-left: -15px;
    margin-right: 10px;
    display: none;
   
}
li {

margin-top: 10px;
margin-bottom: 10px;
margin-right: 5px;
text-align: center;
width: 100%;

}



button {
    background-color: rgb(160, 105, 160);
    color: white;
    font-size: 24px;
    box-shadow: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: purple;
}
#welcome {
    /*change back to block */
    display: block;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}
#start {
    margin: 0 auto;
    display: block;
}

#form {
    display:none;
    flex-direction: column;
    align-items: center;
}

form {
    margin-bottom: 4px;
}

#highscores {
    /*change back to none*/
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}
#highscores button {
    margin: 5px;

}
#highscores h2 {
    text-indent: 31%;
    text-decoration: underline;
}
#hsContainer {
    display: block;
    flex-direction: column;
    width: 100%;
}

#hsList {
    list-style: none;
    font-weight: bold;
    word-spacing: 100px;
    width: 75%;
    text-align: center;
}