body {
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    padding: 2px;
}

#nav {
    display: flex;
    justify-content: space-between;
    padding: 2px;

}

.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-content: space-around;
   padding-top: 10px;
   margin-top: 10px;
}

ul {
    list-style: none;
    margin-left: -15px;
    margin-right: 10px;
   
}
h2 {
    text-align: center;
}
li {

margin-top: 10px;
margin-bottom: 10px;
margin-right: 5px;
text-align: center;
width: 50%;
border-radius: 5px;
display: none;
}

button {
    background-color: rgb(160, 105, 160);
    color: white;
    font-size: 24px;
    box-shadow: none;
    border: 0;
    cursor: pointer;
}

button:hover{
    background-color: purple;
}

#start {
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;


}